<div class="donate">
  <h3><%= t('.heading') %></h3>
  <iframe
    src="https://money.yandex.ru/quickpay/shop-widget?writer=buyer&amp;targets=&amp;targets-hint=%D0%9F%D0%BE%D0%B4%D0%B4%D0%B5%D1%80%D0%B6%D0%BA%D0%B0%20%D0%BF%D1%80%D0%BE%D0%B5%D0%BA%D1%82%D0%B0%20%C2%AB%D0%9C%D0%B8%D1%81%D1%82%D0%B5%D1%80%D0%B8%D0%BA%D0%B0%C2%BB&amp;default-sum=300&amp;button-text=12&amp;payment-type-choice=on&amp;mobile-payment-type-choice=on&amp;hint=&amp;successURL=https%3A%2F%2Fmysterica.ru%2F&amp;quickpay=shop&amp;account=41001190110894"
    width="100%"
    height="250"
    frameborder="0"
    allowtransparency="true"
    scrolling="no"
  ></iframe>
</div>
