<header id="page-header">
  <div>
    <div class="logo">
      <%= link_to(image_tag('logo.svg', alt: 'Mysterica'), root_path) %>
    </div>
    <nav>
      <ul>
        <% PostCategory.for_tree(2).visible.each do |category| %>
          <li><%= post_category_link(Post.new(post_type_id: 2, post_category: category)) %></li>
        <% end %>
      </ul>
    </nav>
    <%#= render 'layouts/application/header/authentication' %>
  </div>
</header>
